---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I'm a 4th year undergraduate at UVA's School of Engineering. My coursework includes machine learning, artificial intelligence, and software engineering.
			
			Here, I previously TA'ed our algorithms class in the CS department, and now I'm TA'ing for machine learning in the ECE department.
		</p>
	</div>
</section>
